<h1>Todo number: <%= @todo.id %></h1>
<p>Todo name: <%= @todo.name %></p>
<p>Few words: <%= @todo.description %></p>
<p><%= link_to "Back to todos list", todos_path %> | 
<%= link_to "Edit", edit_todo_path(@todo) %></p>